*{
	font-family:Georgia, 'Times New Roman', Times, serif;
	color: #574d75
	text-align: center;
}

body {
	width:960px;
	margin:0 auto;
	text-align: center;
	background-color: #687AE8;
}
nav{
	background-color: #7FB2FF;
	padding:10px;
	margin:10px;
}
li{
	display:inline;
	padding: 5px;
}

section {
	overflow: auto;
	height: 100%;
}

main {
	background-color: #7FB2FF;
	padding: 10px;
	margin: 10px;
}

article {
	background-color: #7FB2FF;
	padding: 10px;
	margin: 10px;
	width: 280px;
	floats: left
}

footer {
	background-color: #7FB2FF;
	padding: 10px;
	margin: 10px;
}

